* {
    /* font-family: Nosifer; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbit;
    /* border: 1px solid red; */
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: color 0.4s ease, background-color 0.4s ease;
}

span {
    
    /* display: inline-block; */
}

input {
    background-color: transparent;
}

button#create-btn {
    border: 3px double;
}

button#create-btn:hover {
    color: rgb(73, 73, 73);
    background-color: rgb(227, 212, 193);
}

button.edit-btn:hover {
    color: #808080;
}

button.remove-btn:hover {
    color: #d47f7f;
}

body {
    background-color: #002F2F;;
    color: 000;
}

header h1 {
    font-family: Moirai One !important;
}

.app header {
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin:20px;
}

#create-btn {
    font-size: 13px;
    border-radius: 12px;
    padding: 3px;
    background-color: antiquewhite;

}

/* -------- list -------- */
.ongoing-todo, .completed-todo {
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    padding: 10px;
    margin: 10px;
}

div.title {
    font-family: Orbit;
    color: antiquewhite;

    display: flex;
}

#todo-list, #completed-list {
    margin-top: 20px;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
}

.item {
    display: flex;
    border-radius: 10px;
    background-color: rgb(244, 231, 215);
    padding: 10px;
    /* margin: 10px; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item.complete {
    background-color: #cacaca;
}

.item.complete input{
    text-decoration: line-through;
}

.actions {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.date {
    font-size: 10px;
    background-color: rgba(215, 178, 133, 0.757);
    border-radius: 10px;
    padding: 3px;
}

@media (min-width: 710px){
    #todo-list, #completed-list {
        /* flex-direction: row; */
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item {
        /* width: calc(100%/3) */
    }
}

@media (min-width:300px) and (max-width: 709px){
    .app header{
        /* flex-direction: column; */
        align-items: baseline;
        height: 80px;
        /* justify-content: baseline; */

    }

    #todo-list, #completed-list {
        /* flex-direction: column; */
        grid-template-columns: 1fr ;

    }

    .item{
        justify-content: space-between;
    }
}

@media (max-width: 300px){
    .app header{
        flex-direction: column;
        align-items: center;
        /* height: 80px; */
    }

    #todo-list, #completed-list {
        /* flex-direction: column; */
        grid-template-columns: repeat(1, 1fr);

    }

    .item{
        justify-content: space-between;
        flex-direction: column;
    }
}